{% extends 'base.html.twig' %}

{% block title %}Opérations{% endblock %}

{% block body %}
    <h1>Opérations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type d'opération</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.name }}</td>
                <td>{{ operation.typeofOperation.name }}</td>
                <td>{{ operation.price }}</td>
                <td>
                    <a href="{{ path('operation_show', {'id': operation.id}) }}"><i class="fas fa-info"></i> Détails</a>
                    <a href="{{ path('operation_edit', {'id': operation.id}) }}"><i class="far fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune opération à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operation_new') }}" class="btn new-btn">Ajouter</a>
{% endblock %}
