{% extends 'base.html.twig' %}

{% block title %}ContactInfo{% endblock %}

{% block body %}
    <h1>ContactInfo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_info.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact_info.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ contact_info.phone }}</td>
            </tr>
            <tr>
                <th>Copyright</th>
                <td>{{ contact_info.copyright }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_info_index') }}" class="btn back-btn">Retour</a>

    <a href="{{ path('contact_info_edit', {'id': contact_info.id}) }}" class="btn edit-btn">Modifier</a>

    {{ include('contact_info/_delete_form.html.twig') }}
{% endblock %}
